@charset "UTF-8";
h1,p{
	text-align: center;
	color:#ffffff;
}
form{
	margin-top:175px;
}
#sub{
	margin-left:740px;
	background: rgb(0, 128, 0);
	color: #fff;
}

body {
	
	background-color: rgb(0, 128, 0);
}